{% extends 'layout/layout_basic.html' %}
{% block search_bar %}{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/profile_update.css" %}">
{% endblock %}
{% block title %}Contraseña cambiada{% endblock %}
{% block title_h1 %}
    Cambio de contraseña exitoso
{% endblock %}

{% block content %}
    <h3 class="subtitle">Tu contraseña ha sido cambiada con éxito.</h3>
    <a href="{% url 'login' %}" style="font-size: 20px;">Iniciar sesión</a>
{% endblock %}

{% block session %}{% endblock %}