{% extends 'layout/layout_profile.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/profile_update.css" %}">
{% endblock %}
{% load crispy_forms_tags %}

{% block title %}Editar Perfil{% endblock %}
{% block title_h1 %}
        Edita tu perfil
{% endblock %}

{% block content %}
    <div class="container m-auto">
        <div class="row">
            <!-- Botón para mostrar el menú (solo visible en móvil) -->
            <button id="menuToggleBtn" class="btn btn-outline-primary d-lg-none mb-2 mb-lg-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
            <i class="bi bi-list"></i> Menú
            </button>
            <!-- Menú colapsable -->
            <div class="collapse d-lg-block col-12 col-lg-2" id="sidebarMenu">
                <ul class="list-unstyled d-flex flex-column p-2">
                    <li class='p-2'>
                    <i class="bi bi-person-circle"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'profiles:detail' request.user.id %}">Mi Perfil</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-bell"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'notifications:list' %}">Notificaciones</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-chat-square-text"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'chat:chat_rooms' %}">Chats</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-people-fill"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'profiles:followers' user_id %}">Seguidores</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-people"></i>
                    <a class="mb-2 text-decoration-none text-dark" href="{% url 'profiles:following' user_id %}">Seguidos</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-postcard-heart"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'posts:list' user_id %}">Publicaciones</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-file-earmark-plus"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'posts:create' user_id %}">Crear</a>
                    </li>
                </ul>
            </div>

            <!-- Formulario del perfil -->
            <div class='col-12 col-md-12 col-lg-10'>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if request.user.profile.profile_picture %}
                    <div class="mb-3">
                        <img src="../..{{ request.user.profile.profile_picture.url }}" alt="Imagen actual" class="img-thumbnail" style="max-width: 150px;">
                    </div>
                    {% endif %}
                    {{ form|crispy}}
                    <div class="mb-3 card">
                        <p class="text-warning card-header">Por seguridad, los cambios de contraseña solo pueden realizarse una vez cada 15 dias.</p>
                        <div class='card-body'>
                            <a href="{% url 'profiles:password_change' %}" class='btn btn-warning'>Cambiar contraseña</a>
                        </div>
                    </div>
                    <button class='btn btn-primary' type='submit'>Guardar</button>
                    <a href="{% url 'profiles:detail' request.user.id%}" class='btn btn-secondary'>Salir</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const privacyButton = document.querySelector('[data-id="privateButton"]');
            privacyButton.addEventListener('click', togglePrivacy);
        });

        async function togglePrivacy() {
            const csrftoken = getCSRFToken();
            const response = await fetch('{% url "profiles:toggle_privacy" %}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
            });

            /*const data = await response.json();
            console.log('Estado de la cuenta: ', data.status);*/
        };
        
        function getCSRFToken() {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // ¿Esta cookie comienza con el prefijo CSRF?
                    if (cookie.substring(0, 10) === 'csrftoken=') {
                        cookieValue = decodeURIComponent(cookie.substring(10));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function toggleNavbar() {
            const toggleIcon = document.querySelector('.toggle-navbar-icon');
            const navbar = document.getElementById('navbar');

            navbar.toggleAttribute('hidden');
            if (toggleIcon.classList.contains('opened')) {
                toggleIcon.classList.remove('opened');
            } else {
                toggleIcon.classList.add('opened')
            }
        }

        const toggleBtn = document.getElementById('menuToggleBtn');
        const sidebar = document.getElementById('sidebarMenu');

        sidebar.addEventListener('show.bs.collapse', () => {
            toggleBtn.classList.remove('btn-outline-primary');
            toggleBtn.classList.add('btn-primary');
        });

        sidebar.addEventListener('hide.bs.collapse', () => {
            toggleBtn.classList.remove('btn-primary');
            toggleBtn.classList.add('btn-outline-primary');
        });
    </script>
{% endblock %}