{% extends 'layout/layout_profile.html' %}
{% load crispy_forms_tags %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/profile_detail.css" %}">
{% endblock %}
{% block title %}Perfil{% endblock %}
{% block title_h1 %}
    {% if object.user.uuid == user_uuid %}
        Mi perfil
    {% else %}
        {{object.user.username}}
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container m-auto">
        <div class="row">
            <!-- Botón para mostrar el menú (solo visible en móvil) -->
            <button id="menuToggleBtn" class="btn btn-outline-primary d-lg-none mb-2 mb-lg-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
            <i class="bi bi-list"></i> Menú
            </button>
            <!-- Menú colapsable -->
            <div class="collapse d-lg-block col-12 col-lg-3" id="sidebarMenu">
                <ul class="list-unstyled d-flex flex-column p-2">
                    <li class='p-2'>
                    <i class="bi bi-house"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'home' %}">Inicio</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-bell"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'notifications:list' %}">Notificaciones</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-chat-square-text"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'chat:chat_rooms' %}">Chats</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-people-fill"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'profiles:followers' user_uuid %}">Seguidores</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-people"></i>
                    <a class="mb-2 text-decoration-none text-dark" href="{% url 'profiles:following' user_uuid %}">Seguidos</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-postcard-heart"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'posts:list' user_uuid %}">Publicaciones</a>
                    </li>
                    <li class='p-2'>
                    <i class="bi bi-file-earmark-plus"></i>
                    <a class="mb-5 text-decoration-none text-dark" href="{% url 'posts:create' user_uuid %}">Crear</a>
                    </li>
                </ul>
            </div>

            <!-- Información del perfil -->
            <div class="col-12 col-md-12 col-lg-9">
                <div class="row">
                   <div class="profile-card col-md-12 col-lg-6">
                    {% if object.profile_picture %}
                    <img 
                    src="{{object.profile_picture.url}}" 
                    alt="Foto de Perfil de {{ object.user.username }}">
                    {% else %}
                    <img 
                    src="/static/icons/default-user.png" 
                    alt="Foto de Perfil de {{ object.user.username }}">
                    {% endif %}
                    <div class="card-body text-center">
                        <h5 class="card-title">@{{object.user.username}}</h5>
                        <p class="card-subtitle text-muted" style="margin-bottom: 20px">{{object.user.first_name}} {{object.user.last_name}}</p>
                        <p class="card-subtitle text-muted" style="margin-bottom: 20px">
                            <strong>{{object.user.posts.count}}</strong> publicaciones </br>
                            <strong>{{object.following.count}}</strong> seguidores </br>
                            <strong>{{object.followers.count}}</strong> seguidos
                        </p>
                        <p class="card-text">{% if object.bio %}{{object.bio}}{% else %}{% endif %}</p>
                        <div class="d-flex flex-row gap-2 justify-content-center">
                         {% if request.user.is_authenticated %}
                            {% if object.user != request.user %}
                                <form action="{% url 'profiles:toggle_follow' user_uuid=object.user.uuid %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        {% if object.user.profile in request.user.profile.followers.all %}
                                            Dejar de seguir
                                        {% else %}
                                            Seguir
                                        {% endif %}
                                    </button>
                                </form>   
                                <div>
                                    <a href="{% url 'chat:new_chat' object.user.id %}" class="btn btn-primary btn-sm">
                                        Enviar mensaje <i class="bi bi-send"></i>
                                    </a>
                                </div>                         
                            {% else %}
                                <!-- Si es el propio perfil del usuario autenticado -->
                                <p><a href="{% url 'profiles:update' %}" class="btn btn-primary mb-2">Editar Perfil</a></p>
                                <p><a href="{% url 'posts:create' user_uuid %}" class="btn btn-primary"><i class="bi bi-plus-lg"></i> Crear</a>
                            {% endif %}
                        {% endif %}   
                        </div>
                    </div>
                </div>
                <div class="list_group col-auto col-lg-6">
                    <h3 class="subtitle m-3">Publicaciones</h3>
                    {% for post in posts %}
                        <div class="list-group-item d-flex align-items-center p-3">
                            <img src="{{post.image.url}}" alt="Imagen" class="rounded me-3" style="max-width: 90px; height: auto;">
                            <div>
                                <p>
                                    <span class="mb-1"><a href="{% url 'profiles:detail' post.user.uuid %}">{{post.user.username}}</a> <i class="bi bi-heart-fill text-danger"></i> {{post.likes.all.count}}</span>
                                    <span class="comment ms-2"><i class="bi bi-chat-dots-fill"></i> {{post.comments.count}}</span>
                                </p>
                                <p class="mb-3"><strong>{{post.title}}</strong></p>
                            </div>
                            <p class="m-3">
                                <button class="btn btn-outline-primary btn-sm">
                                 <a class="text-decoration-none" href="{% url 'posts:detail' post.pk %}">Ver</a>   
                                </button>
                            </p>
                        </div>
                    {% endfor %}
                    </p>
                </div> 
                </div>
            </div>
        </div>
    </div>
{% endblock %}
