{% extends "layout/layout_basic.html" %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chatrooms.css' %}?v=1.2">
{% endblock%}
{% block title %}Chats{% endblock %}
{% block title_h1%}Tus Chats{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Botón para mostrar el menú (solo visible en móvil) -->
        <button id="menuToggleBtn" class="btn btn-outline-primary d-lg-none mb-2 mb-lg-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
        <i class="bi bi-list"></i> Menú
        </button>

        <!-- Menú colapsable -->
        <div class="collapse d-lg-block col-12 col-lg-3" id="sidebarMenu">
            <ul class="list-unstyled d-flex flex-column p-2">
                <li class='p-2'>
                <i class="bi bi-person-circle"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'profiles:detail' request.user.id %}">Mi Perfil</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-bell"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'notifications:list' %}">Notificaciones</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-chat-square-text"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'chat:chat_rooms' %}">Chats</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-people-fill"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'profiles:followers' user_id %}">Seguidores</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-people"></i>
                <a class="mb-2 text-decoration-none text-dark" href="{% url 'profiles:following' user_id %}">Seguidos</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-postcard-heart"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'posts:list' user_id %}">Publicaciones</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-file-earmark-plus"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'posts:create' user_id %}">Crear</a>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <h4>Chats</h4>
            {% if chat_rooms %}
                <div class="list-group chatrooms mb-3">
                    {% for chatroom in chat_rooms %}
                        <a href="{% url 'chat:chat' chatroom.id %}" class="list-group-item">
                            <div>
                                {% for user in chatroom.users.all %}
                                    {% if user != request.user.profile %}
                                        {{ user|capfirst }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    No tienes chats recientes
                </div>
            {% endif %}
            
            <h4>Grupos</h4>
            {% if group_chats %}
                <div class="list-group chatrooms mb-2">
                    {% for group in group_chats %}
                        <a href="{% url 'chat:chat' group.id %}" class="list-group-item">
                            {{ group.name }}
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info" role="alert">
                    No tienes grupos recientes    
                </div>
            {% endif %}
            <!-- Botón de crear grupo -->
            <a href="{% url 'chat:new_group_chat' %}" class="btn btn-primary">
                Crear grupo <i class="bi bi-plus-lg"></i>
            </a>
        </div>

        <div class="col-md-8 p-3">
            <h3>Inicia una conversación</h3>
            <div class="list-group followers">
                {% for profile in no_chatted_profiles %}
                    <div class="list-group-item d-flex p-2 justify-content-between align-items-center">
                        <div>
                            <img 
                                class="rounded-circle" 
                                src="{{profile.profile_picture.url}}" 
                                alt="{{profile.user.username}}" 
                                width="50" 
                                height="50"
                            >
                            <span class="m-2"><strong>{{profile.user.username}}</strong></span>   
                        </div>
                        <div>
                            <a href="{% url 'chat:new_chat' profile.id %}" class="btn btn-primary">
                                Enviar mensaje <i class="bi bi-send"></i>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

            