{% extends 'layout/layout_basic.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}?v=1.4">
    <style>
        .day-label {
        text-align: center;
        background-color: #e2e2e2;
        color: #555;
        font-weight: 600;
        padding: 6px 12px;
        margin: 15px 0 10px;
        border-radius: 12px;
        font-size: 0.9rem;
        user-select: none;
    }
    </style>
{% endblock %}
{% block title %}
    {% if is_group_chat %}
        Grupo {{ display_name }}
    {% else %}
        Hablando con {{display_name}}
    {% endif %}
{% endblock %}
{% block title_h1 %}
{% if is_group_chat %}
        Grupo
    {% else %}
        Chat
    {% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <!-- Botón para mostrar el menú (solo visible en móvil) -->
        <button id="menuToggleBtn" class="btn btn-outline-primary d-lg-none mb-2 mb-lg-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
        <i class="bi bi-list"></i> Menú
        </button>

        <!-- Menú colapsable -->
        <div class="collapse d-lg-block col-12 col-lg-3" id="sidebarMenu">
            <ul class="list-unstyled d-flex flex-column p-2">
                <li class='p-2'>
                <i class="bi bi-house"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-person-circle"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'profiles:detail' user_uuid %}">Mi Perfil</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-bell"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'notifications:list' %}">Notificaciones</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-chat-square-text"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'chat:chat_rooms' %}">Chats</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-people-fill"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'profiles:followers' user_uuid %}">Seguidores</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-people"></i>
                <a class="mb-2 text-decoration-none text-dark" href="{% url 'profiles:following' user_uuid %}">Seguidos</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-postcard-heart"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'posts:list' user_uuid %}">Publicaciones</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-file-earmark-plus"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'posts:create' user_uuid %}">Crear</a>
                </li>
            </ul>
        </div>
        <div class="col-md-3 col-lg-3">
            <h4>Chats</h4>
            <div class="list-group chatrooms mb-3">
                {% for chat in chat_rooms %}
                    <a href="{% url 'chat:chat' chat.id %}" class="list-group text-decoration-none">
                        <div class="list-group-item">
                            {% for user in chat.users.all %}
                                {% if user != request.user.profile %}
                                    {{ user }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                {% endfor %}
            </div>
            <h4>Grupos</h4>
            <div class="list-group chatrooms">
                {% for group in group_chats %}
                    <a href="{% url 'chat:chat' group.id %}" class="list-group text-decoration-none">
                        <div class="list-group-item">
                            {{ group.name }}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9 p-3 col-lg-6" id="chat-box-container">
            <div class="m-2 d-flex gap-2 align-items-center" id="chat-info">
                {% with room=current_room %} 

        {% if is_group_chat %}
            {# ---------------- CHAT GRUPAL ---------------- #}
            
            {# Imagen del Grupo #}
            {% if room.image %}
                <img src="{{ room.image.url }}" 
                    alt="{{ display_name }}" 
                    class="rounded-circle me-3" 
                    width="40" height="40"
                    style="object-fit: cover;">
            {% else %}
                <div class="bg-primary text-white rounded-circle d-flex align-items-center justify-content-center me-3" 
                    style="width: 40px; height: 40px; font-size: 1.2rem;">
                    {{ display_name|slice:":1"|upper }}
                </div>
            {% endif %}

            <div class="d-flex flex-row flex-grow-1 justify-content-between align-items-center">
                <div class="d-flex flex-column">
                    <h4 class="d-flex align-items-center justify-content-between gap-2 mb-1">
                        <span>{{ display_name }}</span>
                    </h4>
                    <span class="text-muted small">
                        <span id="group-online-text">En línea: </span>
                        <span id="group-online-users"></span>
                    </span>
                </div>
                <a href="{% url 'chat:group_detail' room_id %}" class="btn btn-sm btn-outline-primary">Ver</a>
            </div>
            <div>
                <button id="toggle-chatbox" class="btn">
                    <i class="bi bi-fullscreen"></i>
                </button>
            </div>

        {% else %}
            {# ---------------- CHAT INDIVIDUAL ---------------- #}
            
            {% if other_profile %}
                {# Imagen de Perfil #}
                {% if other_profile.profile_picture %}
                    <img 
                        src="{{ other_profile.profile_picture.url }}" 
                        alt="{{ display_name }}"
                        class="rounded-circle me-3"
                        width="40" height="40"
                        style="object-fit: cover;">
                {% else %}
                    <img
                        src="{% static 'icons/default-user.png' %}" 
                        alt="{{ display_name }}"
                        class="rounded-circle me-3"
                        width="40" height="40">
                {% endif %}

                <div class="flex-grow-1">
                    <h4 class="d-flex align-items-center gap-2 mb-1">
                        <span>{{ display_name }}</span>
                    </h4>
                    <span class="text-muted small">
                        <span id="status-{{ other_profile.user.username|escapejs }}">Desconectado</span>
                    </span>
                </div>
                <div>
                    <button id="toggle-chatbox" class="btn">
                        <i class="bi bi-fullscreen"></i>
                    </button>
                </div>
            {% endif %}
        {% endif %}

    {% endwith %}
            </div>
            <div id="chat-box" class="chat-box">
                {% for msg in chat_messages %}
                    {% for profile in profiles %}
                        {% if msg.sender == profile %}
                           {% if msg.sender == user.profile %}
                                <div class="message sent">
                                    {{ msg.content }} 
                                    <span class="timestamp">{{ msg.timestamp|date:"H:i" }}</span>
                                </div>
                            {% else %}
                                <div class="message received">
                                    {% if profile.profile_picture %}
                                        <img 
                                        src="{{ profile.profile_picture.url }}" 
                                        alt="{{ msg.sender }}"
                                        class="rounded-circle mr-3"
                                        width="25" height="25">
                                    {% else %}
                                        <img
                                        src="/static/icons/default-user.png" 
                                        alt="{{ msg.sender }}"
                                        class="rounded-circle mr-3"
                                        width="25" height="25">
                                    {% endif %}
                                    {{ msg.content }}
                                    <span class="timestamp">{{ msg.timestamp|date:"H:i" }}</span>
                                </div>
                            {% endif %} 
                        {% endif %}
                    {% endfor %}
                    
                {% endfor %}
            </div>
            <div class="input-group mt-2">
                <input class="form-control" type="text" id="message-input" placeholder="Mensaje...">
                <button class="btn btn-outline-primary" id="send-button" type="button" title="Enviar">
                    <i class="bi bi-send"></i>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
        function getCSRFToken() {
            return document.cookie.split('; ')
                .find(row => row.startsWith('csrftoken='))
                ?.split('=')[1];
        }
    </script>
    <script>
        const roomDisplayName = "{{ display_name }}";  // Pasado desde la vista
        const roomUUID = "{{ current_room.id }}"; // UUID único de sala
        const username = "{{ user.username }}";  // Captura el usuario autenticado
        const chatBox = document.getElementById("chat-box");
        const messageInput = document.getElementById("message-input");
        const sendButton = document.getElementById("send-button");
        const groupOnlineUsersSpan = document.getElementById("group-online-users");
        const groupOnlineText = document.getElementById("group-online-text");
        let onlineInRoom = [];

        function updateGroupOnlineUsers(onlineUsers) {
            const groupOnlineUsersSpan = document.getElementById("group-online-users");
            if (!groupOnlineUsersSpan) return;

            onlineUsers.forEach(user => {
                if (!onlineInRoom.includes(user) && user !== username) {
                    onlineInRoom.push(user);
                }
            });

            if (onlineInRoom.length === 0) {
                groupOnlineUsersSpan.innerText = "Nadie en línea";
                groupOnlineText.textContent = "";
            } else {
                groupOnlineText.textContent = "En línea: ";
                groupOnlineUsersSpan.innerText = onlineInRoom.join(", ");
            }
        }
        
        // Conectar WebSocket
        const socket = new WebSocket(`${window.location.protocol === 'https:' ? 'wss' : 'ws'}://${window.location.host}/ws/chat/${encodeURIComponent(roomUUID)}/`);

        let lastMessageDate = null;
    
        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);

            if (data.type === "online_users") {
                data.users.forEach(user => {
                    const userStatusElement = document.getElementById(`status-${user}`);
                    if (userStatusElement) {
                        userStatusElement.innerText = "En línea";
                    }
                });

                updateGroupOnlineUsers(data.users);
            }

            else if (data.type == 'user_status') {
                const userStatusElement = document.getElementById(`status-${data.user}`);
                if (data.is_online) {
                    try {
                        userStatusElement.innerText = 'En línea';
                    } catch (error) {
                        console.error("Error al actualizar el estado del usuario:", error);
                    }
                } else {
                    try {
                        userStatusElement.innerText = 'Desconectado';
                    } catch (error) {
                        console.error("Error al actualizar el estado del usuario:", error);
                    }
                }
            }
            else if (data.type === 'chat_message') {
                addMessage(data);
            }

            chatBox.scrollTop = chatBox.scrollHeight;  // Auto-scroll hacia abajo
        };

        function addMessage(data) {
            const msgDate = new Date(data.timestamp);
            const msgDateString = msgDate.toDateString();

            // Insertar etiqueta de día si cambia
            if (lastMessageDate !== msgDateString) {
                const dayLabel = document.createElement("div");
                dayLabel.classList.add("day-label");
                dayLabel.textContent = formatDayLabel(msgDate);
                chatBox.appendChild(dayLabel);
                lastMessageDate = msgDateString;
            }

            const formatedTimestamp = msgDate.toLocaleTimeString('es-ES', { hour: '2-digit', minute: '2-digit', hour12: false });

            let msgElement = document.createElement("div");

            if (username === data.username) {
                msgElement.classList.add("message", "sent");
                msgElement.innerHTML = `
                    ${data.message} 
                    <span class="timestamp">${formatedTimestamp}</span>
                `;
            } else {
                msgElement.classList.add("message", "received");
                msgElement.innerHTML = `
                    <img 
                        src="${data.profile_picture}"
                        alt="${data.username}"
                        class="rounded-circle mr-3"
                        width="25" height="25"
                    >
                    ${data.message} 
                    <span class="timestamp">${formatedTimestamp}</span>
                `;
            }

            chatBox.appendChild(msgElement);
        }

        function formatDayLabel(date) {
            const today = new Date();
            const yesterday = new Date();
            yesterday.setDate(today.getDate() - 1);

            if (date.toDateString() === today.toDateString()) return "Hoy";
            if (date.toDateString() === yesterday.toDateString()) return "Ayer";

            return date.toLocaleDateString('es-ES', { weekday: 'long', day: 'numeric', month: 'long' });
        }

        sendButton.onclick = function() {
            const message = messageInput.value.trim();
            if (!message) return;

            if (socket.readyState === WebSocket.OPEN) {

                socket.send(JSON.stringify({
                    room_id: roomUUID,
                    type: "chat_message", 
                    message: message,
                    username: username,
                }));

                messageInput.value = "";
            } else {
                console.error("El socket no está conectado. Intenta más tarde.");
            }
        };
        messageInput.addEventListener("keydown", function(event) {
            if (event.key === "Enter" && !event.shiftKey) {
                event.preventDefault();
                sendButton.click();
            }
        });


    </script>
    <script>
    function toggleNavbar() {
        const toggleIcon = document.querySelector('.toggle-navbar-icon');
        const navbar = document.getElementById('navbar');

        navbar.toggleAttribute('hidden');
        if (toggleIcon.classList.contains('opened')) {
            toggleIcon.classList.remove('opened');
        } else {
            toggleIcon.classList.add('opened')
        }
    }

    const toggleBtn = document.getElementById('menuToggleBtn');
    const sidebar = document.getElementById('sidebarMenu');

    sidebar.addEventListener('show.bs.collapse', () => {
        toggleBtn.classList.remove('btn-outline-primary');
        toggleBtn.classList.add('btn-primary');
    });

    sidebar.addEventListener('hide.bs.collapse', () => {
        toggleBtn.classList.remove('btn-primary');
        toggleBtn.classList.add('btn-outline-primary');
    });

    const navbarIcon = document.getElementById("navbar-icon");
    let lastScrollY = window.scrollY;
    let hideTimeout;
    let inactivityTimeout;

    function showIcon() {
        navbarIcon.classList.remove("hidden", "none");
        clearTimeout(hideTimeout);
        clearTimeout(inactivityTimeout);
        startInactivityTimer();
    }

    function hideIconWithDelay() {
        navbarIcon.classList.add("hidden");
        hideTimeout = setTimeout(() => {
        navbarIcon.classList.add("none");
        }, 2000);
    }

    function startInactivityTimer() {
        inactivityTimeout = setTimeout(() => {
        hideIconWithDelay();
        }, 2000);
    }

    // Reiniciar temporizador si hay interacción con el icono
    function resetInactivityTimer() {
        clearTimeout(inactivityTimeout);
        showIcon();
    }

    // Eventos que cuentan como interacción
    navbarIcon.addEventListener("mouseenter", resetInactivityTimer);
    navbarIcon.addEventListener("mouseleave", resetInactivityTimer);
    navbarIcon.addEventListener("click", resetInactivityTimer);
    navbarIcon.addEventListener("touchstart", resetInactivityTimer);

    window.addEventListener("scroll", () => {
        const currentScroll = window.scrollY;

        if (window.innerWidth < 768) {
        if (currentScroll === 0) {
            showIcon();
        } else if (currentScroll > lastScrollY) {
            hideIconWithDelay();
        }
        }

        lastScrollY = currentScroll;
    });

    // Inicializamos timer al cargar página
    startInactivityTimer()
    </script>
    <script>
        const toggleChatButton = document.getElementById('toggle-chatbox');
        const chatBoxContainer = document.getElementById('chat-box-container');
        const chatBoxElement = document.getElementById('chat-box');
        const chatInfoElement = document.getElementById('chat-info')
        let isFullscreen = false;

        if (toggleChatButton) {
        toggleChatButton.addEventListener('click', (event) => {
                event.preventDefault();

                isFullscreen = !isFullscreen;

                if (chatInfoElement) {
                    chatInfoElement.style.position = "relative"
                    chatInfoElement.style.top = "0px"
                    chatInfoElement.classList.toggle("m-2")
                    chatInfoElement.classList.add('mb-2')
                }

                if (chatBoxContainer) {
                    if (isFullscreen) {
                        // Make Fullscreen
                        chatBoxContainer.style.position = "fixed";
                        chatBoxContainer.style.top = "0";
                        chatBoxContainer.style.left = "0";
                        chatBoxContainer.style.right = "0";
                        chatBoxContainer.style.bottom = "0";
                        chatBoxContainer.style.width = "100%";
                        chatBoxContainer.style.height = "100%";
                        chatBoxContainer.style.zIndex = "1000"; // Ensure it's on top
                        chatBoxContainer.style.backgroundColor = "#ffffff";
                    } else {
                        // Revert to original state
                        chatBoxContainer.style.position = "";
                        chatBoxContainer.style.top = "";
                        chatBoxContainer.style.left = "";
                        chatBoxContainer.style.right = "";
                        chatBoxContainer.style.bottom = "";
                        chatBoxContainer.style.width = "";
                        chatBoxContainer.style.height = "";
                        chatBoxContainer.style.zIndex = "";
                        chatBoxContainer.style.backgroundColor = "";
                }
        }
                if (chatBoxElement) {
                    if (isFullscreen) {
                        chatBoxElement.style.height = "87%"; // Adjust as needed in fullscreen
                    } else {
                        chatBoxElement.style.height = ""; 
                    }
                }

                if (isFullscreen) {
                    toggleChatButton.innerHTML = '<i class="bi bi-arrows-angle-contract"></i>'; 
                } else if (!isFullscreen) {
                    toggleChatButton.innerHTML = '<i class="bi bi-fullscreen"></i>'; 
                }
            });
        }
    </script>
{% endblock %}