{% extends 'layout/layout_basic.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/chat.css' %}?v=1.4">
{% endblock %}
{% block title %}Chats{% endblock %}
{% block title_h1 %}Tus Chats{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h4>Chats recientes</h4>
            <div class="list-group chatrooms mb-3">
                {% for chat in chat_rooms %}
                    <a href="{% url 'chat:chat' chat.id %}" class="list-group">
                        <div class="list-group-item">
                            {% for user in chat.users.all %}
                                {% if user != request.user.profile %}
                                    {{ user|capfirst }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </a>
                {% endfor %}
            </div>
            <h4>Grupos recientes</h4>
            <div class="list-group chatrooms">
                {% for group in group_chats %}
                    <a href="{% url 'chat:chat' group.id %}" class="list-group">
                        <div class="list-group-item">
                            {{ group.name }}
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-9 p-3">
            <div class="m-2 d-flex gap-2">
                {% for user in room_usernames %}
                    <div class="m-2">
                        <span class="h4">{{ user }}</span> 
                        <span class="text-muted" id="status-{{ user }}"></span>
                    </div>
                {% endfor %}
            </div>
            <div id="chat-box" class="chat-box">
                {% for msg in chat_messages %}
                    {% for profile in profiles %}
                        {% if msg.sender == profile %}
                           {% if msg.sender == user.profile %}
                                <div class="message sent">
                                    {{ msg.content }} 
                                    <span class="timestamp">{{ msg.timestamp|date:"H:i" }}</span>
                                </div>
                            {% else %}
                                <div class="message received">
                                    <img 
                                    src="../../../profiles{{ profile.profile_picture.url }}" 
                                    alt="{{ msg.sender }}"
                                    class="rounded-circle mr-3"
                                    width="25" height="25">
                                    {{ msg.content }}
                                    <span class="timestamp">{{ msg.timestamp|date:"H:i" }}</span>
                                </div>
                            {% endif %} 
                        {% endif %}
                    {% endfor %}
                    
                {% endfor %}
            </div>
            <div class="input-group m-2">
                <input class="form-control" type="text" id="message-input" placeholder="Mensaje...">
                <button class="btn btn-outline-primary" id="send-button">Enviar</button></input>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script>
        function getCSRFToken() {
            return document.cookie.split('; ')
                .find(row => row.startsWith('csrftoken='))
                ?.split('=')[1];
        }
    </script>
    <script>
        const roomName = "{{ room_name }}";  // Pasado desde la vista
        const username = "{{ user.username }}";  // Captura el usuario autenticado
        const chatBox = document.getElementById("chat-box");
        const messageInput = document.getElementById("message-input");
        const sendButton = document.getElementById("send-button");
        

        // Conectar WebSocket
        const socket = new WebSocket(`ws://${window.location.host}/ws/chat/${roomName}/`);

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);

            if (data.type === "online_users") {
                // Cargar todos los usuarios online al abrir el chat
                data.users.forEach(user => {
                    const userStatusElement = document.getElementById(`status-${user}`);
                    if (userStatusElement) {
                        userStatusElement.innerText = "En línea";
                    }
                });
            }

            else if (data.type == 'user_status') {
                const userStatusElement = document.getElementById(`status-${data.user}`);
                if (data.is_online) {
                    try {
                        userStatusElement.innerText = 'En línea';
                    } catch (error) {
                        console.error("Error al actualizar el estado del usuario:", error);
                    }

                } else if (data.is_online == false) {
                    try {
                        userStatusElement.innerText = 'Desconectado';
                    } catch (error) {
                        console.error("Error al actualizar el estado del usuario:", error);
                    }
                }
            } 
            
            else if (data.type = 'chat_message') {
                //Formatea la hora a un formato legible
                const formatedTimestamp = new Date(data.timestamp).toLocaleTimeString(
                    'es-ES', 
                    { hour: '2-digit', minute: '2-digit', hour12: false }
                );  
    
                if (username == data.username) {
                    chatBox.innerHTML += 
                    `<div class="message sent">
                        ${data.message} 
                        <span class="timestamp">${formatedTimestamp}</span>
                    </div>`;
                } else {
                    chatBox.innerHTML += 
                    `<div class="message received">
                        <img 
                        src="../../../profiles/media/" 
                        alt="{{ msg.sender }}"
                        class="rounded-circle mr-3"
                        width="25" height="25"
                        >
                        ${data.message} 
                        <span class="timestamp">${formatedTimestamp}</span>
                    </div>`;
                }



            }
            

            chatBox.scrollTop = chatBox.scrollHeight;  // Auto-scroll hacia abajo
        };

        document.addEventListener('keydown', function(event) {
            if (event.key === "Enter") {
                sendButton.click();
            }
        });
        
        sendButton.onclick = function() {
            const message = messageInput.value.trim();
            if (message) {
                // Verifica si el socket está conectado antes de enviar
                if (socket.readyState === WebSocket.OPEN) {
                    const timestamp = new Date().toISOString(); // O usa el formato que prefieras
                    socket.send(JSON.stringify({ message, username, timestamp }));
                    messageInput.value = "";  // Limpiar input
                } else {
                    console.error("El socket no está conectado. Intenta nuevamente más tarde.");
                }
            }
        };
        

        document.addEventListener('DOMContentLoaded', function() {
            chatBox.scrollTop = chatBox.scrollHeight;  // Auto-scroll hacia abajo
        });

    </script>
{% endblock %}