{% extends 'layout/layout_basic.html' %}
{% load crispy_forms_tags %}
{% block title %}Crear chat grupal{% endblock %}
{% block title_h1 %}Crea un grupo{% endblock %}


{% block content %} 
    {% load static %}
    <!-- jQuery y Select2 -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="btn btn-primary">Crear grupo</button>
        <button class="btn btn-outline-secondary">
            <a href="{% url 'chat:chat_rooms' %}" style="color: black; text-decoration: none;">Volver</a>
        </button>
    </form>

    <script>
    $(document).ready(function() {
        $('.django-select2').select2({
            placeholder: "Selecciona miembros...",
            width: '100%',
            dropdownCssClass: "select2-dropdown-tall",
        });
    });
    </script>

    <style>
        .select2-dropdown-tall {
            height: fit-content;
        }
    </style>
{% endblock %}