{% extends 'layout/layout_basic.html' %}
{% load crispy_forms_tags %}
{% load custom_filters %}

{% block styles %}
    {% load static%}
    <link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
{% endblock %}
{% block title %}Publicacion{% endblock %}
{% block title_h1 %}Publicación{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- Botón para mostrar el menú (solo visible en móvil) -->
        <button id="menuToggleBtn" class="btn btn-outline-primary d-lg-none mb-2 mb-lg-3" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-expanded="false" aria-controls="sidebarMenu">
        <i class="bi bi-list"></i> Menú
        </button>
        <!-- Menú colapsable -->
        <div class="collapse d-lg-block col-12 col-lg-3" id="sidebarMenu">
            <ul class="list-unstyled d-flex flex-column p-2">
                <li class='p-2'>
                <i class="bi bi-house"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'home' %}">Inicio</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-bell"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'notifications:list' %}">Notificaciones</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-chat-square-text"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'chat:chat_rooms' %}">Chats</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-people-fill"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'profiles:followers' user_uuid %}">Seguidores</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-people"></i>
                <a class="mb-2 text-decoration-none text-dark" href="{% url 'profiles:following' user_uuid %}">Seguidos</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-postcard-heart"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'posts:list' user_uuid %}">Publicaciones</a>
                </li>
                <li class='p-2'>
                <i class="bi bi-file-earmark-plus"></i>
                <a class="mb-5 text-decoration-none text-dark" href="{% url 'posts:create' user_uuid %}">Crear</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-12 col-lg-9 list-group-item mb-3 p-3 shadow-sm border rounded">
            <div class="row g-3">
                <!-- Usuario y fecha -->
                <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <div class="d-flex align-items-center mb-2">
                    {% if post.user.profile.profile_picture %}
                    <img src="{{ post.user.profile.profile_picture.url }}"
                        class="me-2 rounded-circle"
                        style="width: 60px; height: 60px; object-fit: cover;"
                        alt="Profile Image">
                    {% else %}
                     <img src="/static/icons/default-user.png"
                        class="me-2 rounded-circle"
                        style="width: 60px; height: 60px; object-fit: cover;"
                        alt="Profile Image">
                    {% endif %}
                    <div class="d-flex flex-column">
                     <span class="me-2">{{ post.user.first_name}} {{ post.user.last_name }}</span>
                     <a href="{% url 'profiles:detail' post.user.uuid %}" class="text-dark text-decoration-none"><strong class="me-2">@{{ post.user.username }}</strong></a>
                    </div>
                </div>
                <p class="mb-0 text-muted small text-md-end">Hace {{ post.created_at|timesince_short}}</p>
                </div>

                <!-- Título -->
                <p class="h3 m-2 text-primary text-center text-md-start"><strong>{{ post.title }}</strong></p>

                <!-- Tags -->
                 {% if post.tags %}
                 <div class="m-2">
                 {% for tag in post.tags.all %}
                     <span class="badge bg-primary">{{ tag.name }}</span>
                 {% endfor %}
                 </div>
                 {% endif %}

                {% if post.image %}
                <div class="col-12 d-flex justify-content-center my-4">
                <img src="{{ post.image.url }}" 
                    class="img-fluid rounded shadow-sm post-detail-img" 
                    alt="{{ post.title }}">
                </div>
                {% endif %}

                <!-- Contenido del post -->
                <div class="col-12 mt-3">
                <div class="container">{{ post.content|safe }}</div>
                </div>

                <!-- Likes y comentarios -->
                <div class="col-12 text-muted mb-2 d-flex flex-wrap align-items-center">
                <div>
                    {% if request.user in post.likes.all %}
                    <a href="{% url 'posts:like_ajax' post.pk %}" data-post-id="{{ post.pk }}" class="like-button">
                        <i class="bi bi-heart-fill text-danger"></i>
                        <span class="sr-only">Unlike this post</span>
                        <span data-post-id="{{ post.pk }}" class="n-likes">{{ post.likes.count }}</span>
                    </a>
                    {% else %}
                    <a href="{% url 'posts:like_ajax' post.pk %}" data-post-id="{{ post.pk }}" class="like-button">
                        <i class="bi bi-heart text-danger"></i>
                        <span class="sr-only">Like this post</span>
                        <span data-post-id="{{ post.pk }}" class="n-likes">{{ post.likes.count }}</span>
                    </a>
                    {% endif %}
                </div>
                <div class="ms-3">
                    <i class="bi bi-chat-dots-fill"></i> {{ comments.count }}
                </div>
                </div>

                <!-- Comentarios -->
                <div class="col-12 container comments">
                {% if comments %}
                    <form method="post" class="mb-2">
                        {% csrf_token %}
                        <div class="mb-1">
                        {{ form.text }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-outline-primary">Enviar</button>
                    </form>
                    <details>
                    <summary class="mb-2 small"><i class="bi bi-chevron-down"></i> Comentarios</summary>
                    {% for comment in comments %}
                        <li class="list-group-item mb-2">
                            <div class="d-flex justify-content-between align-items-center">
                            <h6 class="mb-0 small">
                                {{ comment.user }} · <small class="text-muted">Hace {{ comment.created_at|timesince_short}}</small>
                            </h6>
                                <div class="d-flex align-items-center gap-3">
                                    <a href="{% url 'posts:like_comment_ajax' comment.pk %}" data-comment-id="{{ comment.pk }}"
                                        class="like-button text-decoration-none">
                                        {% if request.user in comment.likes.all %}
                                        <i class="bi bi-heart-fill text-danger"></i>
                                        <span class="visually-hidden">Quitar like</span>
                                        {% else %}
                                        <i class="bi bi-heart text-danger"></i>
                                        <span class="visually-hidden">Dar like</span>
                                        {% endif %}
                                        <span class="n-likes ms-1">{{ comment.num_likes }}</span>
                                    </a>
                                </div>
                            </div>
                        <p class="mt-1 small">{{ comment.text }}</p>
                        </li>
                    {% endfor %}
                    </details>
                {% else %}
                    <p class='text-muted small'>Sin comentarios aún.</p>
                    <form method="post" class="mt-2">
                        {% csrf_token %}
                        <div class="mb-1">
                        {{ form.text }}
                        </div>
                        <button type="submit" class="btn btn-sm btn-outline-primary">Enviar</button>
                    </form>
                {% endif %}
                </div>

                <!-- Botones -->
                {% if request.user == post.user %}
                <div class="col-12 text-end mt-4">
                    <a class="btn btn-outline-warning" href="{% url 'posts:edit' request.user.uuid post.pk %}">Editar</a>
                    <a class="btn btn-outline-danger p-1" href="{% url 'posts:delete' post.pk %}">Eliminar</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}