{% comment %} {% load i18n %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block styles %}{% endblock %}
        {% load static %}
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css'%}?v=1.1">
        <link rel="stylesheet" href="{% static 'css/fontfaces.css' %}">
        <link href="{% static 'bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>{% block title %}Profile Default{% endblock %}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    {% include '_include/_header.html' %}
    <main class="container flex-grow-1">
        <div class='container'>
            <h1 class='title text-center text-md-start text-lg-start'>{% block title_h1 %}Profile default{% endblock %}</h1>
        </div>

        {% block form %}
        {% endblock %}

        {% block content %}
        {% endblock %}
        
        {% block messages %}
            {% if messages %} 
                {% for message in messages %} 
                    <div{% if message.tags %} class="alert alert-{{ message.tags }} m-3"{% endif %}>
                        <span>{{ message }}</span>
                    </div> 
                {% endfor %} 
            {% endif %}
        {% endblock %}
    </main>
    {% block script %}
        <script>
            function toggleNavbar() {
                const toggleIcon = document.querySelector('.toggle-navbar-icon');
                const navbar = document.getElementById('navbar');

                navbar.toggleAttribute('hidden');
                if (toggleIcon.classList.contains('opened')) {
                    toggleIcon.classList.remove('opened');
                } else {
                    toggleIcon.classList.add('opened')
                }
            }

            const toggleBtn = document.getElementById('menuToggleBtn');
            const sidebar = document.getElementById('sidebarMenu');

            sidebar.addEventListener('show.bs.collapse', () => {
                toggleBtn.classList.remove('btn-outline-primary');
                toggleBtn.classList.add('btn-primary');
            });

            sidebar.addEventListener('hide.bs.collapse', () => {
                toggleBtn.classList.remove('btn-primary');
                toggleBtn.classList.add('btn-outline-primary');
            });

            const navbarIcon = document.getElementById("navbar-icon");
            let lastScrollY = window.scrollY;
            let hideTimeout;
            let inactivityTimeout;

            function showIcon() {
                navbarIcon.classList.remove("hidden", "none");
                clearTimeout(hideTimeout);
                clearTimeout(inactivityTimeout);
                startInactivityTimer();
            }

            function hideIconWithDelay() {
                navbarIcon.classList.add("hidden");
                hideTimeout = setTimeout(() => {
                navbarIcon.classList.add("none");
                }, 2000);
            }

            function startInactivityTimer() {
                inactivityTimeout = setTimeout(() => {
                hideIconWithDelay();
                }, 2000);
            }

            // Reiniciar temporizador si hay interacción con el icono
            function resetInactivityTimer() {
                clearTimeout(inactivityTimeout);
                showIcon();
            }

            // Eventos que cuentan como interacción
            navbarIcon.addEventListener("mouseenter", resetInactivityTimer);
            navbarIcon.addEventListener("mouseleave", resetInactivityTimer);
            navbarIcon.addEventListener("click", resetInactivityTimer);
            navbarIcon.addEventListener("touchstart", resetInactivityTimer);

            window.addEventListener("scroll", () => {
                const currentScroll = window.scrollY;

                if (window.innerWidth < 768) {
                if (currentScroll === 0) {
                    showIcon();
                } else if (currentScroll > lastScrollY) {
                    hideIconWithDelay();
                }
                }

                lastScrollY = currentScroll;
            });

            // Inicializamos timer al cargar página
            startInactivityTimer()
        </script>
    {% endblock %}
        {% block session %}
        {% if request.user.is_authenticated %}
        <div class="container mt-4">
            <div class="session-bar d-flex flex-column flex-sm-row justify-content-between align-items-center p-3 rounded shadow-sm bg-light">
                
                <div class="text-muted mb-2 mb-sm-0 small">
                Sesión iniciada como <span class="text-primary fw-semibold">{{ request.user.username }}</span>
                </div>

                <form action="{% url 'logout' %}" method="POST" class="m-0">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-sm">Cerrar sesión</button>
                </form>
            </div>
            </div>
        {% endif %}
    {% endblock %}
    {% include "_include/_footer.html" %}
</body>
</html>