.title {
    font-family: "Goldman-Regular";
    padding: 20px 0px;
}

.list-unstyled {
    background-color: #fff;
    width: 250px;
}

h4 {
    font-family: "Goldman-Regular";
}

.chat-box {
    height: 400px; /* Altura del chat */
    overflow-y: auto; /* Scroll para mensajes largos */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 80%; 
    padding: 8px 12px;
    padding-right: 40px; 
    border-radius: 8px; 
    word-wrap: break-word; /* Permite que las palabras largas se dividan */
    overflow-wrap: break-word; /* Asegura que las palabras se dividan si son demasiado largas */
    margin-bottom: 10px;
    position: relative; /* Necesario si usas un pseudo-elemento para la timestamp */
}

.timestamp {
    font-size: 0.6em; /* Tamaño de fuente más pequeño para la timestamp */
    opacity: 0.8;
    position: absolute; /* Permite que se coloque en la esquina */
    bottom: 4px; 
    right: 8px; 
}

.received {
    background: #e9ecef;
    align-self: flex-start;
}
.sent {
    background: #0d6efd;
    color: white;
    align-self: flex-end;
}
