.title {
    font-family: "Goldman-Regular";
    padding: 20px 0px;
}

.list-unstyled {
    background-color: #fff;
    width: 250px;
}

h4 {
    font-family: "Goldman-Regular";
}

h3 {
    font-family: "Newsreader-Variable"
}