.logo {
    width: 90px;
    height: auto;
}

.title {
    font-family: "Goldman-Regular";
    align-self: center;
    margin: 0px;
    padding: 0px;
}

.title > span {
    font-family: "Goldman-Regular";
}

.title > img {
    animation: rotate 6s linear infinite; /* Ajusta la duración y el tipo de animación */
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.subtitle {
    font-family: "Newsreader-Variable";
}

.list-unstyled {
    width: 200px;
    background-color: #fff;
}

/* Móvil */
@media (max-width: 480px) {
    #top-bar {
        display: flex;
        flex-direction: column;
    }

    .title > img {
        width: 56px;
        height: auto;
        margin: 20px 0px 20px 0px;
    }

    .subtitle {
        margin-top: 30px;
    }
}

/* Tablet */
@media (min-width: 768px) {

    #top-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Desktop */
@media (min-width: 1025px) {

}