.title {
    font-family: "Goldman-Regular";
    margin-bottom: 20px;
}

input#id_title {
    width: 60%;
}

label.form-label{
    font-weight: bold;
}

div#id_tags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-template-rows: auto;
}

div#id_tags > label {
    margin-right: 10px;
}

#previewContainer {
  border: 2px dashed #ddd;
  border-radius: 8px;
  background-color: #fafafa;
}

#imagePreview {
  transition: all 0.2s ease-in-out;
  cursor: grab;
}