.sr-only { /* Para lectores de pantallas */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.n-likes{
    text-decoration: none;
}

a.like-button {
    text-decoration: none;
    color: rgba(33, 37, 41, 0.75);
}

#user-search {
    width: 270px;
}

details>summary::marker {
    content: ""; 
}

/* Estilos del cursor para toda la web */
body {
    cursor: url('/static/cursor/Aero.cur'), auto;
}

form.d-flex {
    width: auto;
    height: 48px;
    align-self: center;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.toggle-navbar {
    position: absolute;
    bottom: -25px;
}

.toggle-navbar-button {
    background-color: transparent;
    border: 0px;
}

#navbar-icon {
  transition: opacity 0.5s ease;
  width: 18px;
  height: auto;
  transform: none;
}

#navbar-icon.hidden {
  opacity: 0;
  pointer-events: none;
}

#navbar-icon.opened {
  transform: rotate(180deg);
}

#navbar-icon.none {
  display: none;
}

footer {
    p:nth-of-type(1) {
        color: white;
    }

    p {
        color: rgba(255, 255, 255, 0.6)
    }
}