{% extends 'layout/layout_basic.html' %}
{% block title %}Legal{% endblock %}
{% block title_h1 %}Aviso legal{% endblock %}
{% block search_bar %}{% endblock %}
{% block content %}
<p class='h3'>1. Información General </p>
<p>
El presente aviso legal regula el uso del sitio web TechChain
(en adelante, "TechChain.live"), accesible desde la URL www.techchain.live.
La titularidad de la Plataforma corresponde a Jesús López Jaén, con correo electrónico de contacto: jesuslopj0@gmail.com.
</p>

<p class='h3'>2. Condiciones de Uso</p>
<p>
El acceso y uso de la Plataforma implica la aceptación de los términos y condiciones establecidos en este aviso legal. 
Si no estás de acuerdo con alguna de las condiciones, por favor, abstente de utilizar TechChain.</p>

<p class='h3'>3. Propiedad Intelectual </p>
<p>
Todos los contenidos publicados en TechChain, incluidos textos, imágenes, logotipos, diseños, software y otros elementos, 
están protegidos por derechos de propiedad intelectual e industrial. Está prohibida su reproducción, distribución o modificación
sin la autorización previa y por escrito del titular.</p>
{% endblock %}