{% extends 'layout/layout_basic.html' %}
{% block title %}Legal{% endblock %}
{% block title_h1 %}Aviso legal{% endblock %}
{% block search_bar %}{% endblock %}
{% block content %}
<p class='h3'>1. Información General </p>
<p>
El presente aviso legal regula el uso del sitio web [Nombre de la Red Social] 
(en adelante, "la Plataforma"), accesible desde la URL [www.tuweb.com].
La titularidad de la Plataforma corresponde a [Nombre de la Empresa o Titular], con NIF/CIF [Número], 
domicilio en [Dirección completa], y correo electrónico de contacto: [email@ejemplo.com].
</p>

<p class='h3'>2. Condiciones de Uso</p>
<p>
El acceso y uso de la Plataforma implica la aceptación de los términos y condiciones establecidos en este aviso legal. 
Si no estás de acuerdo con alguna de las condiciones, por favor, abstente de utilizar la Plataforma.</p>

<p class='h3'>3. Propiedad Intelectual </p>
<p>
Todos los contenidos publicados en la Plataforma, incluidos textos, imágenes, logotipos, diseños, software y otros elementos, 
están protegidos por derechos de propiedad intelectual e industrial. Está prohibida su reproducción, distribución o modificación
sin la autorización previa y por escrito del titular.</p>
{% endblock %}