{% extends 'layout/layout_basic.html' %}
{% load crispy_forms_tags %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/login.css" %}">
{% endblock %}
{% block title %}Login{% endblock %}
{% block title_h1 %}TechChain{% endblock %}
{% block search_bar %}{% endblock %}

{% block content %}
    <div class="main-container">
        <img id="techchain-logo" src="/static/icons/android-chrome-512x512.png" alt="logo" />
        <div class="content-container">
          <h2>Conectando con el futuro.</h2>
          <h3>Únete ahora</h3>
          <form method='post'>
              {% csrf_token %}
              {{ form|crispy }}
              <div class="form-check mb-3">
                  <input class="form-check-input" type="checkbox" id="rememberMe" name="remember_me">
                  <label class="form-check-label" for="rememberMe">Recuérdame</label>
              </div>
              <button class='btn btn-primary bg-dark' type='submit'>Entrar</button>
          </form>   
          <div class="separator-container">
              <div class="separator-line"></div>
              <span class="separator-text">o</span>
              <div class="separator-line"></div>
          </div>

          <a href="{% url 'google_login' %}" class="google-login-btn">
              {% load static %}
              <img src="{% static 'icons/google-icon.png' %}" alt="Google">
              Entrar con Google
          </a>
          <p class="register">¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate</a></p>
        </div>
    </div>
{% endblock %}

{% block script %}

<script>
  window.addEventListener('DOMContentLoaded', () => {
    const savedUser = localStorage.getItem('rememberedUser');
    if (savedUser) {
      document.getElementById('id_username').value = savedUser;
      document.getElementById('rememberMe').checked = true;
    }
  });

  document.querySelector('form').addEventListener('submit', () => {
    const checkbox = document.getElementById('rememberMe');
    const username = document.getElementById('id_username').value;

    if (checkbox.checked) {
      localStorage.setItem('rememberedUser', username);
    } else {
      localStorage.removeItem('rememberedUser');
    }
  });

  function toggleNavbar() {
    const toggleIcon = document.querySelector('.toggle-navbar-icon');
    const navbar = document.getElementById('navbar');

    navbar.toggleAttribute('hidden');
      if (toggleIcon.classList.contains('opened')) {
          toggleIcon.classList.remove('opened');
      } else {
          toggleIcon.classList.add('opened')
      }
  }

  const toggleBtn = document.getElementById('menuToggleBtn');
  const sidebar = document.getElementById('sidebarMenu');

  sidebar.addEventListener('show.bs.collapse', () => {
      toggleBtn.classList.remove('btn-outline-primary');
      toggleBtn.classList.add('btn-primary');
  });

  sidebar.addEventListener('hide.bs.collapse', () => {
      toggleBtn.classList.remove('btn-primary');
      toggleBtn.classList.add('btn-outline-primary');
  });

</script>

{% endblock%}