{% extends 'layout/layout_basic.html' %}
{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/logout.css" %}">
{% endblock %}
{% block title %}Logout{% endblock %}
{% block title_h1 %}Hasta pronto!{% endblock %}
{% block search_bar %}{% endblock %}

{% block menu%} 
<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home'%}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'register'%}">Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'legal' %}">Aviso Legal</a>
    </li>
{% endblock %}
{% block form %}
<div class='container'>
    {% csrf_token %}
    <h2>Quieres volver a entrar?</h2>
    <p class='h3 primary-link'>
        <a href='{% url 'login'%}'>Iniciar sesion</a>
    </p>
    <p class='h3 primary-link'>
        <a href='{% url 'register'%}'>Registrarse</a>
    </p>
</div>
{% endblock %}