<header id="main-header" class="bg-dark"> 
    <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark" hidden>
        {% block menu %}
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'explore' %}">Explorar</a>
                </li>
            {% endif %}
            {% if not request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Iniciar Sesión</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'legal' %}">Aviso Legal</a>
            </li>
        </ul>
        {% endblock %}
    </nav>
    <div class="toggle-navbar">
        <button class="toggle-navbar-button" onclick="toggleNavbar()">
          <img id="navbar-icon" class="toggle-navbar-icon" src="/static/icons/arrow-down.svg" />   
        </button>
    </div>
</header>

{% comment %} <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% for lang_code, lang_name in LANGUAGES %}
        <option value="{{lang_code}}" {% if LANGUAGE_CODE == lang_code %}selected{% endif %}>
            {{lang_name}} ({{lang_code}})
            </option>
            {% endfor %}
            </select>
            <input type="hidden" name="next" value="{{ request.path }}">
            <button type="submit">Cambiar idioma</button>
            </form>{% endcomment %}